{{extend name="public/admin"}}
{{block name="title"}}
<a href="{{:url('admin/brand/index')}}">品牌管理></a>修改品牌
{{/block}}
{{block name="main"}}
    <form action="{{:url('admin/brand/usave')}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{$col->id}}">
        <div class="form-group">
            <label class="control-label">分类：</label>
            <select name="cid" class="form-control">
                {{volist name="category" id="v"}}
                    <option value="{{$v->id}}"{{if condition="$col->cid == $v->id"}}selected="selected"{{/if}}>{{$v->cname}}</option>
                {{/volist}}
            </select>
            <span class="help-block">请重新选择品牌分类</span>
        </div>
        <div class="form-group">
            <label class="control-label">品牌名称:</label>
            <input type="text" name="bname" class="form-control" value="{{$col->bname}}">
            <span class="help-block">请重新输入品牌名称</span>
        </div>
        <div class="form-group">

        </div>
        <div class="form-group">
            <label class="control-label">品牌logo:</label>
            <div style="margin-bottom: 10px;"><img src="__STATIC__/upload/{{$col->logo}}" alt="" style="height: 60px;"></div>
            <input type="file" name="upload">
            <span class="help-block">请重新选择品牌logo</span>
        </div>

        <div class="form-group">
            <input type="submit" value="修改" class="btn btn-primary">
        </div>
    </form>
{{/block}}