{{extend name="public/admin"}}
{{block name="title"}}
<a href="{{:url('admin/gift/index')}}">礼物管理></a>修改奖品
{{/block}}
{{block name="main"}}
<form action="{{:url('admin/gift/usave')}}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{$col->id}}">
    <div class="form-group">
        <label class="control-label">奖品名称:</label>
        <input type="text" name="name" class="form-control" value="{{$col->name}}">
        <span class="help-block">请输入奖品名称</span>
    </div>
    <div class="form-group">
        <label class="control-label">奖品图片:</label>
        <div>
            <table>
                <tr>
                    <img src="__STATIC__/gift/{{$col->image}}" style="height: 150px;">
                    <br>
                    <a href="javascript:delImg('{{$col->id}}')">删除</a>
                </tr>
            </table>
        </div>
        <input type="file" name="image[]" multiple="multiple">
        <span class="help-block">请选择奖品图片</span>
    </div>

    <div class="form-group">
        <label class="control-label">奖品数量:</label>
        <input type="text" name="num" class="form-control" value="{{$col->num}}">
        <span class="help-block">请输入奖品数量</span>
    </div>



    <div class="form-group">
        <input type="submit" value="提交" class="btn btn-primary">
    </div>
</form>
<script type="text/javascript">
    function delImg(imgId) {
        $.ajax({
            url: "{{:url('admin/gift/delImg')}}",
            type: 'get',
            data: 'imgId=' + imgId,
            dataType: 'json',
            success: function (re) {
                if (re.status == 'success') {
                    $('#td_' + imgId).remove();
                }
            }
        })
    }
</script>
{{/block}}