{{extend name="public/admin"}}
{{block name="title"}}修改产品{{/block}}
{{block name="main"}}
    <form action="{{:url('admin/product/usave')}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{$col->id}}">
        <div class="form-group">
            <label class="control-label">产品名称:</label>
            <input type="text" name="title" class="form-control" value="{{$col->title}}">
            <span class="help-block">请输入产品名称</span>
        </div>
        <div class="form-group">
            <label class="control-label">产品图片:</label>
            <div>
                <table>
                    <tr>
                        {{volist name="img" id="v"}}
                            <td id="td_{{$v->id}}">
                                <img src="__STATIC__/upload/{{$v->path}}" style="height: 150px;">
                                <br>
                                <a href="javascript:delImg('{{$v->id}}')">删除</a>
                            </td>
                        {{/volist}}
                    </tr>
                </table>
            </div>
            <input type="file" name="image[]" multiple="multiple">
            <span class="help-block">请选择产品图片</span>
        </div>

        <div class="form-group">
            <label class="control-label">产品价格:</label>
            <input type="text" name="price" class="form-control" value="{{$col->price}}">
            <span class="help-block">请输入产品价格</span>
        </div>
        <div class="form-group">
            <label class="control-label">打折价格:</label>
            <input type="text" name="saleprice" class="form-control" value="{{$col->saleprice}}">
            <span class="help-block">请输入打折价格</span>
        </div>
        <div class="form-group">
            <label class="control-label">打折数量:</label>
            <input type="text" name="salenum" class="form-control" value="{{$col->salenum}}">
            <span class="help-block">请输入打折数量</span>
        </div>
        <div class="form-group">
            <label class="control-label">产品库存:</label>
            <input type="text" name="libnum" class="form-control" value="{{$col->libnum}}">
            <span class="help-block">请输入产品库存</span>
        </div>
        <div class="form-group">
            <label class="control-label">产品描述:</label>
            <textarea name="content" class="form-control">{{$col->content}}</textarea>
            <span class="help-block">请输入产品描述</span>
        </div>
        <div class="form-group">
            <label class="control-label">产品分类：</label>
            <select name="cid" class="form-control">
                {{volist name="category" id="v"}}
                    <option value="{{$v.id}}" {{if condition='$v.id == $col->cid'}}selected="selected"{{/if}}>
                            {{$v['cname']}}</option>
                {{/volist}}
            </select>
            <span class="help-block">请选择父级分类</span>
        </div>
        <div class="form-group">
            <label class="control-label">产品品牌：</label>
            <select name="bid" class="form-control">
                {{volist name="brand" id="v"}}
                    <option value="{{$v->id}}"
                            {{if condition="$v->id == $col->bid"}}selected="selected"{{/if}}>
                            {{$v->bname}}</option>
                {{/volist}}
            </select>
            <span class="help-block">请选择父级分类</span>
        </div>


        <div class="form-group">
            <input type="submit" value="提交" class="btn btn-primary">
        </div>
    </form>
    <script type="text/javascript">
        function delImg(imgId) {
            $.ajax({
                url: "{{:url('admin/product/delImg')}}",
                type: 'get',
                data: 'imgId=' + imgId,
                dataType: 'json',
                success: function (re) {
                    if (re.status == 'success'){
                        $('#td_'+imgId).remove();
                    }
                }
            })
        }
    </script>
{{/block}}