{{extend block name='public/admin'}}
{{block name='title'}}添加用户{{/block}}
{{block name='link'}}
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/admin/user/add.css">
{{/block}}
{{block name='title'}}添加用户{{/block}}
{{block name='main'}}
    <form action="{{:url('admin/user/doadd')}}" method="post" class="form">
        <div class="field">
            <span class="img glyphicon glyphicon-phone"></span>
            <input type="text" name="phone" placeholder="手机号">
        </div>

        <div class="field">
            <span class="img glyphicon glyphicon-user"></span>
            <input type="text" name="username" placeholder="用户名">
        </div>

        <div class="field">
            <span class="img glyphicon glyphicon-lock"></span>
            <input type="password" name="password_confirmation" placeholder="密码">
        </div>

        <div class="field">
            <span class="img glyphicon glyphicon-lock"></span>
            <input type="password" name="password" placeholder="确认密码">
        </div>

        <div class="field">
            <span class="img glyphicon glyphicon-envelope"></span>
            <input type="email" name="email" placeholder="邮箱">
        </div>

        <div class="button">
            <input type="submit" class="btn btn-primary" value="添加">
        </div>
    </form>
{{/block}}
