{{extend name="public/admin"}}
{{block name="title"}}修改用户{{/block}}
{{block name="link"}}
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/admin/user/add.css">
{{/block}}
{{block name="main"}}
    <form action="{{:url('admin/user/usave')}}" method="post" class="form">
        <input type="hidden" name="id" value="{{$user->id}}">
        <div class="field">
            <span class="img glyphicon glyphicon-phone"></span>
            <input type="text" name="phone" value="{{$user->phone}}">
        </div>

        <div class="field">
            <span class="img glyphicon glyphicon-user"></span>
            <input type="text" name="username" value="{{$user->username}}">
        </div>

        <div class="field">
            <span class="img glyphicon glyphicon-lock"></span>
            <input type="password" name="password_confirmation" placeholder="密码">
        </div>

        <div class="field">
            <span class="img glyphicon glyphicon-lock"></span>
            <input type="password" name="password" placeholder="确认密码">
        </div>

        <div class="field">
            <span class="img glyphicon glyphicon-envelope"></span>
            <input type="email" name="email" value="{{$user->email}}">
        </div>

        <div class="button">
            <input type="submit" class="btn btn-primary" value="修改">
        </div>
    </form>
{{/block}}